<app-header></app-header>

<div class="form-content">
    <form action="#" class="form">
        <div class="form-head">Employee Payroll form</div>
        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput value="" name="inputName"  [(ngModel)]="employee.name">
            </mat-form-field>
            <span class="error-output">
                {{this.nameError}}
            </span>
        </div>

        <mat-radio-group [(ngModel)]="employee.profilePic" [ngModelOptions]="{standalone:true}" ngDefaultControl
            aria-label="Select an option" class="profilePic">
            <label class="label text" for="name">Profile Picture</label>
            <mat-radio-button class="img1" value="{{imgUrl_1}}"><img [src]="imgUrl_1" class="profile-img" alt="Bridgelabz Logo" />
            </mat-radio-button>
            <mat-radio-button class="img1" value="{{imgUrl_2}}"><img [src]="imgUrl_2" class="profile-img" alt="Bridgelabz Logo" />
            </mat-radio-button>
            <mat-radio-button class="img1" value="{{imgUrl_3}}"><img [src]="imgUrl_3" class="profile-img" alt="Bridgelabz Logo" />
            </mat-radio-button>
            <mat-radio-button class="img1" value="{{imgUrl_4}}"><img [src]="imgUrl_4" class="profile-img" alt="Bridgelabz Logo" />
            </mat-radio-button>
        </mat-radio-group>

        <div class="row-content">
            <mat-radio-group [(ngModel)]="employee.gender" [ngModelOptions]="{standalone:true}" ngDefaultControl>
                <label class="label text">Gender</label>
                <mat-radio-button class="img1" value="male">Male</mat-radio-button>
                <mat-radio-button class="img1" value="female">Female</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row-content" appearance="outline">
            <label class="label text" for="name">Salary</label>
            
            <mat-form-field>
                <mat-label>Select Salary</mat-label>
                <mat-select [(ngModel)]="employee.salary"  [ngModelOptions]="{standalone: true}" ngDefaultControl [value]="employee.salary">
                    <!-- <mat-option value=20000>20000</mat-option>
                    <mat-option value=30000>30000</mat-option>
                    <mat-option value=40000>40000</mat-option>
                    <mat-option value=50000>50000</mat-option>
                    <mat-option value=60000>60000</mat-option> -->
                    <mat-option *ngFor="let salary of salarys" [value]="salary.value">{{salary.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div *ngFor="let d of _depart,let i = index ">
                <mat-checkbox value="d.name" (change)="checkBoxChange($event, d.name)" (ngModel)="d.name" 
                    [ngModelOptions]="{standalone: true}" ngDefaultControl> {{d.name}} </mat-checkbox>
            </div>
        </div> -->

        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div *ngFor="let departName of depart2,let i = index ">
                <mat-checkbox class="img1" [value]="this.employee.department[i]"  (ngModel)="departName" 
                    [ngModelOptions]="{standalone: true}" ngDefaultControl> {{departName}} </mat-checkbox>
            </div>
        </div>

        <div class="row-content">
            <label class="label text" for="startDate"> Start Date </label>
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="employee.startDate" [ngModelOptions]="{standalone: true}"ngDefaultControl>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" class="input" placeholder="" style="height:100px" [(ngModel)]="employee.note" [ngModelOptions]="{standalone: true}" ngDefaultControl >
            </textarea>
        </div>
        <div class="buttonParent">
            <button mat-button type="cancle" class="button submitButton cancelButton"
                routerLink="/dashboard">Cancel</button>
            <div class="submit-reset">
                <button mat-button type="submit" class="button submitButton" *ngIf="this.Id==null" (click)="addEmployee()" >Submit</button>
                
                <button mat-button type="submit" class="button submitButton" *ngIf="this.Id!=null"  (click)="updateEmployeeData()">Update</button>
                
                <button mat-button type="reset" class="button resetButton">Reset</button>
            </div>
        </div>
    </form>
</div>